<!DOCTYPE html>
<html>
  <head>
    <title>PriorityPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="main-header">
      <%= link_to "Home", root_path %>
      <%= link_to "Collections", collections_path %>
      <%= link_to "About", "/about" %>
    </div>
    <div id="main-content">
      <%= yield %>
    </div>
    <div id="main-footer">
      <div id="main-footer_text" class="flexit">
        <p>© 2023</p><p class="blue">Priority</p><p>Planner</p>
      </div>
    </div>
  </body>
</html>
